@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4"><b>Coding with C#</b></h1>
    <ol>
        <li>Be persistant.</li>
        <li>Stick to a routine.</li>
        <li>Focus on fundamentals.</li>
        <li>Build hands on projects, no matter what level of experience you have.</li>
        <li>And don't be afraid to ask for help.'</li>
    </ol>
</div>
